*
{
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
}

#facilities
{
  background-color: #dbe5db;
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#facilities h1
{
  font-weight: 900;
  font-size: 34px;
  width:500px;
  margin: 0 auto;
  text-align: center;

}
p {
  width:500px;
  margin: 0 auto;
  text-align: center;
}
section
{
  margin-right: 5px;
}
btn
{
display: flex;

}
