<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <section id="facilities">
    <div class="container">
      <div class="title">
        <h1>Profiles</h1>
        <p>Select a profile</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <img src="../..//assets/dog icon.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Dog</h5>
              <a routerLink="/list/dog">Select</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <img src="../..//assets/cat icon1.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Cat</h5>
              <a routerLink="/list/cat">Select</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <img src="../..//assets/bird icon.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Bird</h5>
              <a routerLink="/list/bird">Select</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
