<div class="container-chat">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 600px; border-radius: 8px; border: solid 1px gainsboro; overflow-y: scroll; height: 660px;">
        <a class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
    
          <div class="upper">
            <div class="image">
              <img src="https://th-thumbnailer.cdn-si-edu.com/zYumlXI3CHb3RIo4LKwcezF78nQ=/1000x750/filters:no_upscale()/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/ad/7b/ad7b3860-ad5f-43dc-800e-af57830cd1d3/labrador.jpg" alt="profilePic">
          </div>
          </div>
          
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea"  style="border-radius: 8px;">
          <div *ngFor="let chats of listt let i=index;">
          <div style="border-radius: 8px;">
            <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
              <div class="d-flex w-100 align-items-center justify-content-between">
               <strong class="mb-1">{{chats.messages[0].from}}</strong>
                <small>{{chats.messages[0].time}}</small>
              </div>
            <div class="col-10 mb-1 small">{{chats.messages[0].message}}</div>
          </a>
        </div>
      </div>
        </div>
        <div class="write">
          <input class="form-control" placeholder="Write a message" #message/>
          <button class="sendChat" type="button" id="send" (click)="sendChat(message)">Send</button>
      </div>
    </div>
</div>